.DS_Store
public/.DS_Store
**/.DS_Store
.bundle
db/*.sqlite3
config/database.yml
log/*.log
tmp/
notes/
.rake_tasks~
dump.rdb
*.gz
public/robots.txt
public/images/
public/pdfs/
public/videos/
public/photos/
public/articles/
public/products/
public/uploads/
coverage/
*.swp
public/assets
/.idea/
.rspec
